// Colors
$white: #ffffff;
$black: #000000;
$grey-darker: #000335;
$grey-dark: #41414F;
$grey-lighter: #e1e2e2;
$grey-normal: #677178;
$green: #0C5E43;
$green-dark: #056D48;
$green-light: #E2EEEE;
$orange: #ffd655;
$white-light: #F8F8F8;
$green-transparent: rgba(12, 94, 67, 0.12);
$grey-col:#677178;
$white-40:#C1E5FF;

// Sizes
$container-x: 240px;

// Media
$large: 992px;
$medium: 768px;
$mobile: 480px;